* {
  font-family: Ubuntu, Roboto;
}

html {
  background: linear-gradient(#f2fcfd, #fdf3f2);
  height: 100%;
}

img {
  width: 120px;
  border-radius: 35px;
  border-style: solid;
  border-color: #f1a399;
  border-width: 7px;
  height: auto;
}

.div-card {
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #ccc;
  padding: 10px;
  width: 400px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  gap: 15px;
}

.logo-wrap {
  color: black;
}

.logo {
  width: 25px;
  height: auto;
}

.logo:hover {
  animation-name: logo-color-change;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes logo-color-change {
  100% {
    color: #f1a399;
  }
}
